.footer{
	width: 100%;
	margin-top: 100px;
	background: #232226; 
	height: 100px;
	text-align: center;
	position: relative;
	padding-top: 30px;
}

.footerReserve{
	color: gray;
	font-size: 30px;
}

.footerLinks{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
    width: 400px;
	margin: 0 auto;
	border-top: 1px dotted #474747;
	color: #474747;
}

.footerLinks a{
	color: #474747;
}

.footerLinks span{
	margin-left: 5px;
}

.footerLinks span:hover, .footerLinks a:hover{
	cursor: pointer;
	color: #383838;
}