.pricesBackground{
	background-image: url(http://www.agdenetim.com/mp-include/uploads/2015/03/1425307540_banner1.jpg);
    background-size: cover;
    padding: 50px 0 100px;
    background-repeat: no-repeat;
}

.prices{
	width: 900px;
	margin: 50px auto 0;   
	border-radius: 0 0 5px 5px; 
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}

.pricesNav{
	border-bottom: 1px solid #76433e;
}

.pricesNav div{
	display: inline-block;
	font-size: 30px;
	color: white;    
	text-transform: uppercase;
	width: 20%;
	cursor: pointer;
	text-align: center;
}

.pricesNav div:hover{
	color: #c6c6c6;
}

.currentPrice{
	background: #76433e;
}

.service_item span{
	border-bottom: 1px dotted gray; 
}

.service{
	text-align: center;
	border-radius: 15px;
	font-size: 30px;
	flex:  0 0 48%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	width: 40%;
	margin-bottom: 30px;
}

.serviceWrap{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	width: inherit;
	justify-content: space-around;
}
