.header{
	width: 100%;
    height: 97px;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	/*background: white;*/
	align-items: center;
    color: black;
}

.header *{
	display: flex;
	align-items: center;
	/*line-height: 96px;*/
}

.headerImage{
	flex: 0 0 175px;
	/*background: red;*/
}

.headerImage img{
    margin-top: 3px;
    width: 73px;
    cursor: pointer;
}

.headerNav{
	flex: 0 0 826px;
	height: 97px;
	/*background: blue;	*/
	display: flex;
	justify-content: space-between;
}

.headerNav > *{
	width: 16%;
}


.headerNav div:first-child{
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: 2px solid gray;
    margin: 4px 0 0 8px;
    text-align: center;
}

.headerNav > span{
	cursor: pointer;
}

.headerNav div:first-child span{
    margin: 0 auto;
    width: 31px;
    font-weight: bold;
    font-size: 27px;
}


.header-bus{
	margin-left: 36px;
}

.header-bus span{
	margin-left: 23px;
}

.header-canteen{
    margin-left: 11px;
}
.header-canteen span{
	margin-left: 23px;
}

.header-floors{
    margin-left: 10px;
}

.header-floors span{
    margin-left: 22px;
}

.header-places{
    margin-right: 30px;
}

.header-places span{
    margin-left: 18px;
}

.header-search{
    margin-right: -22px;
}

.header-search span{
    margin-left: 20px;
}

.headerUser{
	flex: 0 0 250px;
	height: 97px;
	/*background: red;*/
}

.headerUser i{
    cursor: pointer;
}

.headerUser > span{
	margin: 3px 0 0 21px;
    font-size: 22px;
}

.userMenu{
    width: 141px;
    height: 39px;
    background: #ffd99e;
    margin: 4px 0 0 47px;
    border-radius: 22px;
    cursor: pointer;
}

.userMenu span:first-child{
	width: 30px;
    height: 30px;
    border-radius: 30px;
    background: black;
    margin-left: 6px;
}

.userMenu span:last-child{
    margin-left: 11px;
}